
{% extends 'main.html' %}
 {% block content %}

 

 
 
  <div class="container">
  <div class="layout__box">
    <div class="layout__boxHeader">
      <div class="layout__boxTitle">
        <h3>Reset Password</h3> 
      </div>
    </div>
    <div class="layout__body">
      <form class="form" action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form__group form__group">
        <label for="fullname">{{field.label_tag}}</label>
          {{field}}
          {% if field.errors %}
          <small>{{ field.errors|striptags}}</small>  
          {% endif %}
          {% endfor %}
        
        </div>
        <button class="btn btn--main" type="submit">Submit</button>
   
      </form>
    </div>
  </div>
</div>
{%endblock content%}