{% extends 'main.html' %} 

{% block content %}

<div class="container">
  <div class="layout__box">
    <div class="layout__boxHeader">
      <div class="layout__boxTitle">
        <h3>Forgot Password</h3>
      </div>
    </div>
    <div class="layout__body">
      <form class="form" action="" method="POST">
        {% csrf_token %}
        <div class="form__group form__group">
          <label for="username">Email</label>
          <input
            id="username"
            name="email"
            type="email"
            placeholder="Enter your register Email"
          />
        </div>

        <button class="btn btn--main" type="submit">Submit</button>
     
      </form>
    </div>
  </div>
</div>

{% endblock content %}
